{% extends 'base.html.twig' %}
{% block title %} Symphony Articles{%endblock%}
{%block body%}
  {%if articles%}
  <table class="table table-striped">
    <thead>
      <tr>
        <tr>Article Title</tr>
        <tr>Actions</tr>
      </tr>
    </thead>
    <tbody>
      {%for article in articles%}
      <tr>
        <td>{{article.title}}</td>
        <td><a href="/article/{{article.id}}" class="btn btn-dark">Show</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%else%}
  <p>No articles to display  </p>
  {%endif%}
{%endblock%}
